<div>
  <p>On the next page you'd be provided a Polkadot address to send your payment to.</p>
  <p>If you have a Polkadot browser extension installed, you'll see a popup asking you to confirm the payment. If you don't have it installed (e.g. when using a mobile wallet, or storing your tokens on an exchange), you'd have to manually transfer to required amount to that address.</p>
</div>

<script type="text/javascript">

  <% # TODO: Only do this when our payment method is selected %>
  
  document.addEventListener('DOMContentLoaded', (event) => {
    let submitButton = document.querySelector('.payment-step button[type="submit"]');
    submitButton.disabled = true;
    submitButton.classList.add('opacity-50', 'cursor-not-allowed');

    let csrf_token = document.querySelector('meta[name="csrf-token"]').getAttribute('content');
    fetch('/kalatori/address/generate', { method: 'POST', headers: { 'Content-Type': 'application/json' }, body: JSON.stringify({authenticity_token: csrf_token}) })
      .then(response => response.json()).then(data => {
        document.querySelectorAll('.kalatori_blockchain_address').forEach(e => e.value = data.pay_account);
        submitButton.disabled = false;
        submitButton.classList.remove('opacity-50', 'cursor-not-allowed');
      });
  });
</script>

<% param_prefix = "payment_source[#{payment_method.id}]" %>
<%= hidden_field_tag "#{param_prefix}[blockchain_address]", nil, { id: "blockchain_address_#{payment_method.id}", class: "kalatori_blockchain_address" } %>